<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition</title>
    <!--<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href=" {{url_for('static',filename= 'styles/stylesheet.css') }} ">
</head>
<body>
<div id="Header">
    <h1> Welcome to Speech Recognizer </h1>
    <p> Get your recording transcripted in a single click <p>
    <p> Upload a file with wav extension to get its speech recognized <p>
    <p>You may also use the files already saved in 'Recording' folder<p>
</div>
<div id="speechContainer">
   <form enctype="multipart/form-data" method="POST">
       <input type="file" name="file">
        <br>
       <input type="submit" value="Transcribe" id="button">
   </form>
</div>

{% if transcript != ""  %} <!-- will show only if I have transcript-->
<div id="speechContainer">
    <h3> The Transcript of your uploaded file is: </h3>
    <p> {{  transcript }} </p>
</div>
{% endif %}

</body>
</html>